<form>
<div  ng-controller="check" id="question1">
    1. How long term is your savings goal?
    <input type="radio" ng-model="value" value="one" ng-change="checkStuff()" name="firstQuestion"> 1 - 3 months<br>
    <input type="radio" ng-model="value" value="two" ng-change="checkStuff()" name="firstQuestion"> 3 - 6 months<br>
    <input type="radio" ng-model="value" value="three" ng-change="checkStuff()" name="firstQuestion"> 6 months - 1 year<br>
    <input type="radio" ng-model="value" value="four" ng-change="checkStuff()" name="firstQuestion"> 1 - 2 years<br>
    <input type="radio" ng-model="value" value="five" ng-change="checkStuff()" name="firstQuestion"> More than 2 years
    <button ng-click="nextq()" type="submit">Next question</button>
    <span> {{value}} isCheck:{{isChecked}} </span>
</div>
</form>


    <!-- <span> {{value}} isCheck:{{isChecked}} </span> -->
