<form>
    <div ng-controller='thirdQ'>
        <div id="question2" ng-controller='newctrl'>
            Which continents have you visited so far?
            <input type="checkbox" name="secondQuestion" ng-model="values.value1" value="Europe">Europe<br>
            <input type="checkbox" name="secondQuestion" ng-model="values.value2" value="Asia">Asia<br>
            <input type="checkbox" name="secondQuestion" ng-mogel="values.value3" value="Africa">Africa<br>
            <input type="checkbox" name="secondQuestion" ng-model="values.value4" value="North America">North America<br>
            <input type="checkbox" name="secondQuestion" ng-model="values.value5" value="South America">South America
            <button type="button" ng-click="previousq()">Back</button>
            <button ng-click="saveAnswer2(); nextq()" type="submit">Next</button>
        </div>
    </div>
</form>
