<form>
    <div ng-controller='thirdQ'>
        <div id="question2" ng-controller='newctrl'>
            Which continents have you visited so far?<br>
            <label><input id="europe" type="checkbox" ng-model="answer2.europe" value="Europe">Europe</label><br>
            <label><input id="asia" type="checkbox" ng-model="answer2.asia" value="Asia">Asia</label><br>
            <label><input id="northamerica" type="checkbox" ng-model="answer2.northamerica" value="North America">North America</label><br>
            <label><input id="southamerica" type="checkbox" ng-model="answer2.southamerica" value="South America">South America</label><br>
            <label><input id="africa" type="checkbox" ng-model="answer2.africa" value="Africa">Africa</label><br>
            <button type="button" ng-click="previousq()">Back</button>
            <button ng-click="saveAnswer2(); nextq()" type="submit">Next</button>
        </div>
    </div>
</form>
