<form name="form3">
  <div ng-controller='fourthQ'>
<div id="question3" ng-controller='newctrl'>
    What is your main interest in foreign countries?
    <input type="radio" name="thirdQuestion" ng-model="answer3" value="Nature" ng-required="answer3 != ''">Nature<br>
    <input type="radio" name="thirdQuestion" ng-model="answer3" value="Architecture" ng-required="answer3 != ''">Architecture<br>
    <input type="radio" name="thirdQuestion" ng-model="answer3" value="Culture" ng-required="answer3 != ''">Culture<br>
    <input type="radio" name="thirdQuestion" ng-model="answer3" value="History" ng-required="answer3 != ''">History<br>
    <input type="radio" name="thirdQuestion" ng-model="answer3" value="The beach" ng-required="answer3 != ''">The beach
    <button type="button" ng-click="previousq()">Back</button>
    <button ng-disabled="form3.$invalid" ng-click="saveAnswer3(); nextq()" type="submit">Next</button>
</div>
</div>
</form>
