<form>
<div id="question3" ng-controller='mainCtrl'>
    3. What amount are you planning to save per month?
    <input type="radio" name="thirdQuestion"> Less than 50 EUR<br>
    <input type="radio" name="thirdQuestion"> 50 - 100 EUR<br>
    <input type="radio" name="thirdQuestion"> 101 - 200 EUR<br>
    <input type="radio" name="thirdQuestion"> 201 - 400 EUR<br>
    <input type="radio" name="thirdQuestion"> More than 400 EUR
    <button type="button">Previous question</button>
    <button ng-click="nextq()" type="submit">Next question</button>
</div>
</form>
