
<form name="form4">
        <div id="question5" ng-controller="answersStorageController" class="text">
          How often do you travel?<br>
          <input type="radio" name="thirdQuestion" ng-model="answer4" value="Less than once per year" ng-required="answer4 != ''">Less than once per year<br>
          <input type="radio" name="thirdQuestion" ng-model="answer4" value="Once per year" ng-required="answer4 != ''">Once per year<br>
          <input type="radio" name="thirdQuestion" ng-model="answer4" value="Twice per year" ng-required="answer4 != ''">Twice per year<br>
          <input type="radio" name="thirdQuestion" ng-model="answer4" value="3-4 times a year" ng-required="answer4 != ''">3-4 times a year<br>
          <input type="radio" name="thirdQuestion" ng-model="answer4" value="More than 4 times a year" ng-required="answer4 != ''">More than 4 times a year<br>
            <button type="button" ng-click="question3()">Back</button>
            <button ng-disabled="form4.$invalid" ng-click="saveAnswer4(); vm.question5()" type="submit">Next</button>
        </div>
      </form>
