<body class="summary">
    <div class="text">Thank you for the responses. Below there are your answers displayed. We will get back to you as soon as possible.</div>
    <table ng-controller="answersStorageController" ng-init="getAnswer()">
        <tr>
            <th class="question">Which country is your top destination for travelling?</th>
            <th ng-model="summary" class="answer">{{summary[0]}}</th>
        </tr>
        <tr>
            <th class="question">Which continents have you visited so far?</th>
            <th ng-model="summary" class="answer">{{summary[1].toString()}}</th>
        </tr>
        <tr>
            <th class="question">What amount are you planning to save per month?</th>
            <th ng-model="summary" class="answer">{{summary[2]}}</th>
        </tr>
        <tr>
            <th class="question">How often do you travel?</th>
            <th ng-model="summary" class="answer">{{summary[3]}}</th>
        </tr>
        <tr>
            <th class="question">Do you use travel agencies services when travelling?</th>
            <th ng-model="summary" class="answer">{{summary[4]}}</th>
        </tr>
        <tr ng-if="summary[5] != ''">
            <th class="question">Please list travel agencies, which services did you use during last 3 years?</th>
            <th ng-model="summary" class="answer">{{summary[5]}}</th>
        </tr>
    </table>
</body>
