<div>Thank you for the responses. Below are your there are your answers displayed. We will get back to you as soon as possible.</div>
<table ng-controller="newctrl" ng-init="getAnswer()">
<tr>
<th>Question</th>
<th>Your answer</th>
</tr>
<tr>
<th>What is your occupation?</th>
<th ng-model="answer1">{{answer1}}</th>
</tr>
<tr>
<th>What is the main goal of your savings?</th>
<th>Your answer</th>
</tr>
<tr>
<th>What amount are you planning to save per month?</th>
<th>Your answer</th>
</tr>
<tr>
<th>Do you have any financial commitments?</th>
<th>Your answer</th>
</tr>
<tr>
<th>The goal of the final savings amount?</th>
<th>Your answer</th>
</tr>
</table>
