<div>Thank you for the responses. Below are your there are your answers displayed. We will get back to you as soon as possible.</div>
<table ng-controller="newctrl">
<tr>
<th>Question</th>
<th>Your answer</th>
</tr>
<tr>
<th>How long term is your savings goal?</th>
<th ng-model="answer1">{{answer1}}</th>
</tr>
<tr>
<th>Question</th>
<th>Your answer</th>
</tr>
<tr>
<th>Question</th>
<th>Your answer</th>
</tr>
<tr>
<th>Question</th>
<th>Your answer</th>
</tr>
<tr>
<th>Question</th>
<th>Your answer</th>
</tr>
</table>
