body {
  background-color: $background-color;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  margin: 0 0;
}

h1 {
  color: #F75754;
  line-height: 28px;
  font-size: 26px;
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
  vertical-align: middle;;
}

.text {
  margin-left: 5px;
}

input[type="text"] {
  font-size: 16px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 5%;
  line-height: 36px;
}


label {
  position: relative;
margin: .5rem;
font-family: Arial, sans-serif;
cursor: pointer;
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  position: sticky;
  text-align: center;
  margin-bottom: 16px;
  background-color: $header-color;
  padding-bottom: 8px;
}

@mixin summary {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  color: #000;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: 10em;
  transition: all .2s ease-in-out;
}

@-ms-viewport {
    width: device-width;
}

@media only screen and (min-width: 768px) {
    input[type="text"] {
        max-width: 30%;
        margin: 10px 10px;
    }
}
