button {
  text-align: center;
  font-size: 24px;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: $buttons-color;
  color: $buttons-text;
  padding: 2px;
  width: 80%;
  border: 1px solid rgb(128,128,128);
 border-radius : 4px;
}

button[disabled] {
  opacity: 0.65;
  cursor: not-allowed;
}

button:hover:enabled {
background: darken($buttons-color, 5%);
border: 1px solid rgba(#000, .05);
box-shadow: 1px 1px 2px rgba(#fff, .2);
color: lighten($buttons-text, 5%);
text-decoration: none;
text-shadow: -1px -1px 0 darken($buttons-text, 5%);
transition: all 250ms linear;
cursor: pointer;
}

body {
  background-color: #E9E5D9;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  color: #F75754;
  line-height: 28px;
  font-size: 26px;
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}

input[type="text"] {
  font-size: 16px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 5%;
  line-height: 36px;
}


label {
  position: relative;
margin: .5rem;
font-family: Arial, sans-serif;
cursor: pointer;
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  position: sticky;
  text-align: center;
  margin: 0 auto;
}
